<footer>
    <a href="https://github.com/rainpyo00" target="_blank">Github | </a> 
    <a href="https://rainpyo00.github.io/" target="_blank">GitHub.io | </a> 
    <a href="https://rainpyo00.github.io/web215/" target="_blank">web215.io | </a>
    <a href="https://www.freecodecamp.org/pnaing23" target="_blank">freeCodeCamp | </a>  
    <a href="https://www.codecademy.com/profiles/rainraingoawayy" target="_blank">Codecademy | </a> 
    <a href="https://jsfiddle.net/user/rainypyo/fiddles/" target="_blank">Jsfiddle | </a> 
    <a href="https://www.linkedin.com/in/rain-pyo-9080552aa/" target="_blank">LinkedIn</a>

<p>
    Validate
    <a href="https://validator.w3.org/check?uri=referer" id= "validation_link_html">
      HTML
  </a>
  and
  <a href="https://jigsaw.w3.org/css-validator/check/referer" id= "validation_link_css">
      CSS
  </a>
<script src="scripts/validation.js"></script>
</p>
</footer>
