*{
  background-color: #F2F7F3;
}

h1 {
  font-family: 'Merriweather', serif;
}

h1, h2 {
  color: #6F842F;
}

.logoPic {
  width: 190px;
}

.logoAndHeading {
display: flex;
}

.mainHeading {
margin-top: 80px;
margin-left: 50px;
}

footer a {
  margin: 0px 15px 0px 15px;
}

footer {
  margin-top: 35px;
}

nav li{
  list-style: none;
  display: inline-block;
  margin: 0px 10px 0px 120px;
}

a {
  color: #6F842F;
  text-decoration: none;
  font-weight: bold;
}

nav li a {
  font-size: 20px;
  border-radius: 10px; /* round corners */
}

nav a:hover {
  background-color: #959E9D;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

a:hover {
  color: #1E1E1F;
}

body {
    font-family: 'Manrope', sans-serif;
    margin: 0px 230px 0px 230px;
    color: #1E1E1F;
}

h1, h2, figcaption, footer, #brandIntro {
    text-align: center;
}

#brandIntro {
  background-color: #6F842F;
  padding: 30px;
  font-family: 'Merriweather', serif;
}

.brandName {
  font-size: 80px;
  margin-bottom: 0px;
  background-color: #6F842F;
  color: #F2F7F3;
}

.shopType {
  margin-top: 0px;
  font-size: 13px;
  background-color: #6F842F;
  color: #F2F7F3;
}

.logoHeading, .paragraph, .font-container {
  color: #1E1E1F;
}

.logos {
  width: 290px;
  padding: 0px 95px;
  background-color: #F2F7F3;
}

.font-container {
  display: flex;
  justify-content: space-between;
  padding: 0px 95px;
  font-size: 20px;
}

.font1 {
  font-family: 'Merriweather', serif;
}

.circle {
  width: 150px;
  height: 150px;
  text-align: center;
  font-size: 20px;
  text-align: center;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#color1 {
  background-color: #6F842F;
}

#color2 {
  background-color: #959E9D;
}

#color3 {
  background-color: #F2F7F3;
  border: solid 0.5px;
}

#color4 {
  background-color: #15A282;
}

.container {
  display: flex;
  justify-content: space-evenly;
  margin: 80px;
}

.missionStatement {
  padding-top: 30px;
  font-family: "Caveat", cursive;
  font-size: 35px;
}

.paragraph {
  padding: 0px 95px;
}
.paragraph, footer {
font-size: 20px;
}

.built {
  font-family: "Cinzel", serif;
}

.built {
  color: #6F842F;
  font-weight: 600;
}