figcaption {
  text-align: center;
  font-style: italic;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 450px;
  }

h2 {
    text-align: center;
}

footer {
    text-align: center;
}