* {
  background-color: #F2F7F3;
}

h1 {
  font-family: 'Merriweather', serif;
}

h1, h2 {
  color: #6F842F;
}

figcaption {
  font-style: italic;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 450px;
    box-shadow: 5px 5px 10px rgba(66, 182, 79, 0.3); /* shadow behind my image */
  }

h1, h2, figcaption, footer {
    text-align: center;
}

body {
  font-family: 'Manrope', sans-serif;
  margin: 0px 230px 0px 230px;
  color: #1E1E1F;
}

footer a {
  margin: 0px 15px 0px 15px;
}

footer {
  margin-top: 35px;
}

nav li{
  list-style: none;
  display: inline-block;
  margin: 0px 10px 0px 120px;
}

a {
  color: #6F842F;
  text-decoration: none;
  font-weight: bold;
}

nav li a, .introButton {
  font-size: 17px;
  border-radius: 25px; /* round corners */
  transition: background-color 0.3s;
}

nav a:hover {
  background-color: #959E9D;
  padding: 5px 10px;
}

a:hover {
  color: #1E1E1F;
}

.contract_p {
  font-weight: bold;
}

/* Intro Form Styling */
label {
  width: 45%;
  margin-right: 10px;
  display: inline-block;
  background-color: #fff;
}
textarea {
  font-family: 'Manrope', sans-serif;
  color: #6F842F;
  margin-top: 10px;
  width: 100%;
  padding: 10px;
  margin-bottom: 4px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.labelStyle {
  font-weight: bold;
}

.introButton {
  align-items: center;
  padding: 10px;
  border: none;
  background-color: #6F842F;
  color: #F2F7F3;
  display: block;
  margin: 0px auto;
}

.introButton:hover {
  background-color: #959E9D;
  color: #1E1E1F;
}

.labelStyle2 {
  margin-top: 15px;
  font-weight: bold;
  width: 25%;
}

#introductionForm {
  max-width: 500px;
  margin: 0 auto;
  background-color: #fff;
  padding: 90px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.formEnd {
  margin: 30px;
}